{% extends "sirba_forecast/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}
{% block app_content %}
{% gizmo map_view_options %}
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>


<!-- Download Data Modal -->
<div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="download-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="download-modal-label">Download Data</h5>
      </div>
      <div class="modal-body">
          <p>If you have previously run the the application, you should have received at 6-digit access code.</p>
          <p>Please input your access code below and click the "Download" button to download the files from your
              application query.</p>
          <form class="form" method="post" enctype="multipart/form-data" action="download/">
              {% csrf_token %}
              {{ accesscodeform }}
              <br>
              <br>
              <input class="btn btn-success" type="submit" value="Download">
          </form>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>d

<!-- Contact Information Modal -->
<div class="modal fade" id="cont-modal" tabindex="-1" role="dialog" aria-labelledby="cont-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="cont-modal-label">Contact Information</h5>
      </div>
      <div class="modal-body">
          <p>
              Please provide your email here and we will contact you with a
              6 digit access code for downloading your data when the process is complete.</p>
          <label for="id_email">Email Address:</label>
          <input id="id_email" type="email" placeholder="Email" size="30" required<input>
          <p>Your email will only remain in our database until your access code has been sent out.
              The access code you receive will then be valid for 3 days.</p>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" id="submit_form">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block app_actions %}
{% endblock %}

